DATABASE_URL=Host=localhost;Port=5432;Database=omgtu_portal;Username=postgres;Password=secret
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=omgtu-portal
KEYCLOAK_CLIENT_ID=omgtu-portal-app
CORS_ORIGINS=http://localhost:5173
AUTOLOGIN=false
